body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS',verdana;
}
header {
    background-color: #777d6a;
    color: rgb(15, 46, 15);
    display: flex;
}
.menu-container {
    display: flex;
}
.menu {
    width: 20%;
    background-color: #999f8e;
    padding: 20px;
}
.menu a {
    margin-top: 10px;
    display: block;
    margin-bottom: 12px
}
.content {
    background-color: #d2d8c7;
    padding: 10px;
}
.footer h3{
    margin: 0;
    background-color: #777d6a;
    color: #681d1d;
    text-align: center;
}
.inscrip{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: #681d1d;
}
